{% extends 'base.html' %}


{% block title %}
    Главная
{% endblock %}


{% block content %}
    <div>
        {% if user.is_authenticated %}
        {% include 'partials/_alerts.html' %}
            <div class="container">
                <h1>Индекс пейдж</h1>
            </div>
        {% else %}
            <div class="container">
                <div class="jumbotron main-jumbotron">
                    <h1 class="display-4">Привет, призыватель!</h1>
                    <p class="lead">Этот сайт для тебя, если:</p>
                    <ol>
                        <li>Тебе надоело раз за разом попадаться с одними и теми же детьми шлюх.</li>
                        <li>Тебе нужен свой собственный список петухов которых нужно избегать любой ценой.</li>
                        <li><s>Кто-то съел твой сладкий рулет.</s></li>
                        <li>Тебе нужна сервис который подскажет когда нужно съёбывать из лобби.</li>
                    </ol>
                    <hr class="my-4">
                    <p>Тогда присоединяйся к нам!</p>
                    <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Войти</a>
                    <a class="btn btn-primary btn-lg" href="{% url 'register' %}">Зарегистрироваться</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}