{% extends 'base.html' %}
{% load basic_filters %}


{% block title %}
    {{ profile.name }}
{% endblock %}


{% block content %}
    <section class="main-section">
        <div class="container index-container">
            {% if messages %}
                <div style="margin-top: 10px;">
                    {% include 'partials/_alerts.html' %}
                </div>
            {% endif %}
            {% if retards %}
                {% for retard in retards %}
                    <p>{{ retard }}</p>
                {% endfor %}
            {% else %}
                <div class="alert alert-info" role="alert" style="">
                    Ваш чёрный список пуст. Добавьте кого-нибудь прямо сейчас!
                </div>
                {% with lol_account as lol_account %}
                    {% include 'modals/add_retard.html' %}
                {% endwith %}
            {% endif %}
        </div>
    </section>
{% endblock %}