@import "pages/main-page.sass"



html, body
    height: 100%
    width: 100%
    margin: 0


footer
    margin-top: auto
    & a
        color: deepskyblue
        &:hover
            color: deepskyblue

img
    width: 100%


.btn-secondary
    color: #fff !important